### Gradle ###
.gradle
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*/out
*.class

### Maven ###
*/target

### Ant ###
*/buildout.txt
*/javadoc.xml
*/lib
*/build
*/buildExample